BASE_SERVICE_URL=https://miximike.com/
DEFAULT_DAYS_TO_NOTIFY=10
WORDPRESS_NOTIFICATION_CATEGORY_ID=54
WOOCOMMERCE_CONSUMER_KEY=ck_eb0c4aa99877a39ccbeae48006be26c31e276d14
WOOCOMMERCE_CONSUMER_SECRET=cs_091280b80fc57add0e19c5a976099742a6f4ea19
WOOCOMMERCE_EXCLUDE_PRODUCTS_ID=[279797]
WOOCOMMERCE_EXCLUDE_CATEGORIES_ID=[40, 41, 53]
WOOCOMMERCE_TODO_CATEGORY_ID=53
DISK_FOR_ALL_ID=255
WORDPRESS_ADMIN_TOKEN="ZGllZ29AZnJpam9sLmNsOjVfM09pWmFRMyF9UShlM04yMF02"